<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../dist/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- navbar -->
    <nav class="bg-cs-brown flex justify-around items-center">
        <h1 class="text-3xl font-semibold">SIBIku</h1>
        <div class="flex">
            <a href="../../templates/index.html" class="p-8 hover:bg-cs-light-brown transition ease-in-out">Home</a>
            <a href="/templates/html/about.html" class="p-8 hover:bg-cs-light-brown transition ease-in-out">About</a>
            <a href="" class="p-8 hover:bg-cs-light-brown transition ease-in-out">Classify</a>
        </div>
    </nav>
    <!-- content -->
    <section class="bg-cs-sp-light-brown">
        
        <div class="flex flex-row justify-center items-center min-h-[90vh]">
            <div class="basis-1/4 rounded-lg border-4 border-cs-brown">
                <img src="https://storage.googleapis.com/sibiku-buckets/abjad/c.jpg" alt="">
            </div>
            <div class="basis-1/4 py-10 ">
                <div class="mt-44 font-semibold text-7xl">
                    SIBIku
                </div>
                <div class="text-lg">
                    Ini sub-judul
                </div>
                <div class="mt-2 text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu
                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum awko
                </div>
            </div>
            
        </div>
    </section>
    <footer class="bg-cs-brown bottom-0 w-full">
        <p class="text-center">
            Copyright Sukoshi
        </p>
    </footer>
</body>
</html>