<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/dist/output.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- navbar -->
    <nav class="bg-cs-brown flex justify-around items-center">
        <h1 class="text-3xl font-semibold">SIBIku</h1>
        <div class="flex">
            <a href="../../templates/index.html" class="p-8 hover:bg-cs-light-brown transition ease-in-out">Home</a>
            <a href="/templates/html/about.html" class="p-8 hover:bg-cs-light-brown transition ease-in-out">About</a>
            <a href="" class="p-8 hover:bg-cs-light-brown transition ease-in-out">Classify</a>
        </div>
    </nav>
    <!-- content -->
    <section class="bg-cs-sp-light-brown">
        
        <div class="flex flex-row justify-center items-center min-h-[90vh]">
            <div class="rounded-lg border-4 border-cs-brown">
                <img alt="" id="classUrlGambar">
            </div>
            <div class="basis-1/4 ml-20 mt-30 ">
                <div class="font-bold text-7xl" id="classAbjad">

                </div>
                <div class="text-lg font-semibold">
                    Cara membuat bentuknya adalah :
                </div>
                <div class="mt-2 text-justify" id="classDeskripsi">
                    
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-cs-brown bottom-0 w-full">
        <p class="text-center">
            Copyright Sukoshi
        </p>
    </footer>
    <script src="./js/detail.js"></script>
</body>
</html>