<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/dist/output.css" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <section class="min-h-[90vh]">
        <!-- navbar -->
        <nav class="sticky top-0 z-10 flex items-center justify-around bg-cs-brown">
            <h1 class="text-4xl font-semibold text-cs-brown-black">SIBI<span class="text-cs-brown-whites">ku</span></h1>
            <div class="flex">
                <!-- <a href="index.html" class="p-8 font-semibold transition ease-in-out hover:bg-cs-light-brown">Beranda</a>
                <a href="about.html" class="p-8 font-semibold transition ease-in-out hover:bg-cs-light-brown">Tentang</a>
                <a href="classify.html" class="p-8 font-semibold transition ease-in-out hover:bg-cs-light-brown">Belajar SIBI</a> -->
                <a href="{{ url_for('index') }}"
                    class="p-8 font-semibold transition ease-in-out hover:bg-cs-light-brown">Beranda</a>
                <a href="{{ url_for('about') }}"
                    class="p-8 font-semibold transition ease-in-out hover:bg-cs-light-brown">Tentang</a>
                <a href="{{ url_for('classify') }}"
                    class="p-8 font-semibold transition ease-in-out hover:bg-cs-light-brown">Belajar SIBI</a>
            </div>
        </nav>
        <!-- content1 -->
        <section class="bg-cs-light-brown" id="id-invisi">
            <div class="flex flex-row w-full">
                <div class="pb-10 ml-20 basis-1/2">
                    <div class="mt-10 text-5xl font-semibold ">
                        SIBI
                    </div>
                    <div class="text-lg font-semibold">
                        Sistem Isyarat Bahasa Indonesia
                    </div>
                    <div class="mt-2 text-lg font-medium text-justify">
                        SIBI (Sistem Isyarat Bahasa Indonesia) adalah bahasa isyarat yang mengadaptasi gerakan ASL
                        (American Sign Language). Bahasa iyarat abjad SIBI memiliki 26 gerakan yang mewakili 26 alphabet
                        yang terdiri dari 24 peragaan berupagerakan pasif serta 2 peragaan berupa gerakan aktif (J dan
                        Z) menggunakan satu tangan. SIBI sering digunakan dalam komunikasi formal, dalam penerapannya
                        digunakan dalam proses belajar mengajar di SLB (Sekolah Luar Biasa). Peraturan Menteri
                        Pendidikan Republik Indonesia
                        nomor 0161/U/1994 mengatur tentang penggunaan SIBI dalam SLB.
                    </div>
                </div>
                <div class="pb-10 mx-20 basis-1/2">
                    <div class="mt-10 text-5xl font-semibold">
                        About <span class="text-cs-brown-whites">SIBI</span><span class="text-cs-brown-black">ku</span>
                    </div>
                    <div class="text-lg font-semibold">
                        SIBIku
                    </div>
                    <div class="mt-2 text-lg font-medium text-justify">
                        SIBIku adalah website yang dibuat untuk memberi wawasan kepada orang-orang yang ingin
                        mempelajari atau ingin
                        tahu tentang SIBI (Sistem Isyarat Bahasa Indonesia) khususnya dalam abjad agar bisa digunakan
                        dalam komunikasi bersama teman tuli atau penyandang tuna rungu dan membantu guru dan murid dalam
                        pembelajaran pada SLB (Sekolah Luar Biasa).
                    </div>

                </div>
            </div>
        </section>
        <!-- content 2 -->
        <!-- <section class="bg-cs-sp-light-brown h-[200px] flex items-center justify-center">
            <a href="#id-invisi"
                class="relative flex items-center justify-center h-full overflow-hidden transition duration-150 ease-in-out transform basis-1/4 hover:scale-105 bg-cs-brown">
                <p class="absolute text-4xl font-semibold text-center">
                    About SIBIku
                </p>
            </a>
            <a href="#bentuk-bentuk"
                class="relative flex items-center justify-center h-full overflow-hidden transition duration-150 ease-in-out transform basis-1/4 hover:scale-105 bg-cs-light-brown">
                <p class="absolute text-4xl font-semibold text-center">
                    Abjad SIBI!
                </p>
            </a>
            <a href="{{ url_for('classify') }}"
                class="relative flex items-center justify-center h-full overflow-hidden transition duration-150 ease-in-out transform basis-1/4 hover:scale-105 bg-cs-brown">
                <p class="absolute text-4xl font-semibold text-center">
                    Belajar SIBI!
                </p>
            </a>
        </section> -->

        <!-- content 3 -->
        <section class="bg-cs-sp-light-brown">
            <div class="pt-5 text-4xl font-semibold text-center" id="bentuk-bentuk">
                Abjad SIBI!
            </div>
            <div class="pt-2 text-lg font-semibold text-center" id="bentuk-bentuk">
                Abjad menggunakan SIBI dari A sampai Z
            </div>
            <!-- sub content 3.1 -->
            <section class="hidden bg-cs-light-brown" id="section-box1">
                <div class="flex flex-row items-center justify-center mt-5">
                    <div class="mr-10 border-4 rounded-lg border-cs-brown">
                        <video id="classUrlVideo" width="250" height="250" autoplay loop></video>
                    </div>
                    <div class="ml-10 border-4 rounded-lg basis-1/8 border-cs-brown ">
                        <img alt="" id="classUrlGambar" class="w-[150px] h-[150px]">
                    </div>
                    <div class="ml-20 basis-1/4 mt-30">
                        <div class="font-bold text-7xl" id="classAbjad">

                        </div>
                        <div class="mt-2 text-justify" id="classDeskripsi">
                        </div>
                    </div>
                </div>
            </section>
            <div class="flex flex-wrap justify-center gap-10 px-10 py-10 mx-20">
                <button
                    class="abjad-button  h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="1" dataCustom="1">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/A.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        A
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="2" dataCustom="2">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/B.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        B
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="3" dataCustom="3">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/C.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        C
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="4" dataCustom="4">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/D.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        D
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="5" dataCustom="5">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/E.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        E
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="6" dataCustom="6">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/F.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        F
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="7" dataCustom="7">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/G.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        G
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="8" dataCustom="8">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/H.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        H
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="9" dataCustom="9">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/I.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        I
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="10" dataCustom="10">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/J.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        J
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="11" dataCustom="11">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/K.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        K
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="12" dataCustom="12">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/L.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        L
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="13" dataCustom="13">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/M.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        M
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="14" dataCustom="14">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/N.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        N
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="15" dataCustom="15">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/O.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        O
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="16" dataCustom="16">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/P.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        P
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="17" dataCustom="17">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/Q.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        Q
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="18" dataCustom="18">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/R.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        R
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="19" dataCustom="19">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/S.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        S
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="20" dataCustom="20">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/T.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        T
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="21" dataCustom="21">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/U.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        U
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="22" dataCustom="22">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/V.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        V
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="23" dataCustom="23">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/W.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        W
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="24" dataCustom="24">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/X.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        X
                    </div>
                </button>
                <button
                    class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="25" dataCustom="25">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/Y.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        Y
                    </div>
                </button>
                <a class="abjad-button h-[150px] relative flex justify-center items-center mb-10 transition duration-150 ease-in-out transform hover:scale-125"
                    href="abjad.html" id="26" dataCustom="26">
                    <div>
                        <img src="https://storage.googleapis.com/sibiku-bucket-images/abjad/image/Z.png"
                            class="w-[150px] h-[150px] relative rounded-lg brightness-[1.6] opacity-75">
                    </div>
                    <div class="absolute text-3xl font-semibold text-center">
                        Z
                    </div>
                </a>
            </div>
        </section>
        <!-- video capture -->

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/js/abjad.js"></script>
        <footer class="bottom-0 w-full bg-cs-brown">
            <p class="text-center">
                Copyright Sukoshi
            </p>
        </footer>
    </section>
</body>

</html>