<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/dist/output.css" rel="stylesheet">
    <title>Classi.fy</title>
</head>

<body>
    <!-- navbar -->
    <nav class="bg-cs-brown flex justify-around items-center">
        <h1 class="text-3xl font-semibold">SIBIku</h1>
        <div class="flex">

            <a href="index.html" class="p-8 hover:bg-cs-light-brown transition ease-in-out">Beranda</a>
            <a href="about.html" class="p-8 hover:bg-cs-light-brown transition ease-in-out">Tentang</a>
            <a href="classify.html" class="p-8 hover:bg-cs-light-brown transition ease-in-out">Belajar SIBI</a>
            <a href="quiz.html" class="p-8 hover:bg-cs-light-brown transition ease-in-out">Kuis</a>
            <!-- <a href="/" class="p-8 hover:bg-cs-light-brown transition ease-in-out">Home</a> -->
            <!-- <a href="{{ url_for('about') }}" class="p-8 hover:bg-cs-light-brown transition ease-in-out">About</a>
            <a href="/abjad.html" class="p-8 hover:bg-cs-light-brown transition ease-in-out">Classify</a> -->
        </div>
    </nav>
    <!-- content -->
    <section class="bg-cs-sp-light-brown min-h-[90vh]">
        <div class="flex flex-row w-full items-center">
            <div class="basis-1/2 py-5 mx-40">
                <div class="mt-44 font-semibold text-7xl">
                    SIBIku
                </div>
                <div class="mt-2 text-justify text-xl">
                    Pelajari abjad pada Sistem Isyarat Bahasa Indonesia (SIBI) dengan mudah dan menyenangkan!
                </div>
                <ul class="flex flex-row mt-5 font-semibold">
                    <li>                       
                        <a href="{{ url_for('about') }}" class="mr-10 flex rounded-lg bg-cs-brown p-3 hover:bg-cs-light-brown transition ease-in-out duration-150 transform hover:scale-125">
                            <svg class="mx-2 w-6 h-6"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                              </svg> 
                            <div class="whitespace-nowrap">
                               |  Mulai !</div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="basis-1/2 mt-32 flex items-center">
                <img src="/static/images/ocnizarhandnobg.png" alt="" class="rounded-full w-[500px] h-[500px] bg-cs-brown transition duration-150 ease-in-out transform hover:scale-105">
            </div>
        </div>
    </section>
    <footer class="bg-cs-brown bottom-0 w-full">
        <p class="text-center">
            Copyright Sukoshi
        </p>
    </footer>
</body>

</html>